{% extends "index.html" %}
{% load static %}
{% load chaine_filters %}
{% block css %}
{% endblock css%}



{% block titre %}
  <h2 class="text-white">PRODUCTION</h2>
{% endblock titre %}

{% block content %}
<div id="carouselProduction" class="carousel slide carousel-fade" data-bs-interval="false">
  <div class="col-12 mt-4 d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" data-bs-target="#carouselProduction" data-bs-slide-to="0" name="btnradio" id="btnradio0" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio0">Génerale</label>
      {% for key, prod in prod_chaine.items %}
        <input type="radio" class="btn-check" data-bs-target="#carouselProduction" data-bs-slide-to="{{forloop.counter}}" name="btnradio" id="btnradio{{forloop.counter}}" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio{{forloop.counter}}">{{key}}</label>
      {% endfor %}
    </div>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row g-0 gap-3">
        <div class="col">
          <div class="card draggable mt-4">
            <div class="card-header pb-0" style="background-color: teal;">
              <h5 class="text-center text-white"> EFFICIENCE </h5>
            </div>
            <div class="card-body p-3">
              <table class="table">
                <thead class="text-center">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Efficience</th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">Retouche</th>
                    <th scope="col">Second choix</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {% for prod_Jours in prod_jour %}
                    <tr>
                      <td>{{ prod_Jours.periode|date:"d E Y" }}</td>
                      <td>{{ prod_Jours.eff|floatformat:2 }}%</td>
                      <td>{{ prod_Jours.moyen|floatformat:2 }}%</td>
                      <td>{{ prod_Jours.retouche }}%</td>
                      <td>{{ prod_Jours.second_choix }}%</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card draggable mt-4">
            <div class="card-header pb-0">
                <h5 class="text-center">EFFICIENCE HEBDOMADAIRE</h5>
            </div>
            <div class="card-body p-3">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="chart-semaineP" class="chart-canvas chartjs-render-monitor chart-semaineP" height="600" width="1088" style="display: block; height: 300px; width: 544px;"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card draggable mt-4">
            <div class="card-header pb-0">
                <h5 class="text-center">EFFICIENCE MENSUEL</h5>
            </div>
            <div class="card-body p-3">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="chart-moisP" class="chart-canvas chartjs-render-monitor chart-moisP" height="600" width="1088" style="display: block; height: 300px; width: 544px;"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--Productio_chaine-->
    {% for key, prod in prod_chaine.items %}
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <div class="card draggable mt-4">
              <div class="card-header pb-0" style="background-color: teal;">
                <h5 class="text-center text-white"> EFFICIENCE PAR CHAINE </h5>
              </div>
              <div class="card-body p-3">
                <table class="table" style="width:100%">
                  <thead class="text-center">
                    <tr>
                      <th scope="col">Chef Departement</th>
                      <th scope="col">CHAINE </th>
                      {% for periode in prod.periode %}
                        <th scope="col">{{periode.formate}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    {% regroup prod.chaine by num_chaine__chef_depart as prod_depart_list  %}
                    {% for depart in prod_depart_list %}
                      {% regroup depart.list|dictsort:"num_chaine_id" by num_chaine_id as chaine_list %}
                      {% for chaine in chaine_list %}
                        <tr>
                            {% if forloop.first %}
                              <td rowspan="{{chaine_list|length}}">{{depart.grouper|default:"Autres"}}</td>
                            {% endif %}
                            <td>{{chaine.grouper}}</td>
                            {% regroup chaine.list|dictsort:"periode" by periode as periode_list %}
                            {% for periode in prod.periode %}
                              <td>
                              {% for p in periode_list %}
                                {% if periode.brut == p.grouper %}
                                        {{p.list.0.eff|floatformat:"2"}}
                                {% endif %}
                              {% endfor %}
                              </td>
                            {% endfor %}
                        </tr>
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col">
              {% regroup prod.departement by num_chaine__chef_depart as prod_depart_list  %}
              <div class="row">
                {% for list in prod_depart_list %}
                  <div class="col-12 col-lg-6">
                    <div class="card draggable mt-4">
                        <div class="card-header pb-0">
                            <h5 class="text-center">{{ list.grouper|default:'(Autres)' }}</h5>
                        </div>
                        <div class="card-body p-3">
                            <div class="chart">
                              <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                  <div class="">

                                  </div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                  <div class=""></div>
                                </div>
                              </div>
                            <canvas id="chart-line" class="chart-canvas w-100 chartjs-render-monitor chart-line-{{forloop.parentloop.counter}}-{{forloop.counter}}" style="height: 300px;"></canvas>
                            </div>
                        </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>


      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% block javascript %}
  <script>
     //--------------------------------PRODUCTION GENERAL-------------------------
    
    //-----------------------------PAR SEMAINE----------------------------------
    const labelsS = [
      {% for prodS in prod_semaine %}
        "Semaine {{ prodS.periode|date:"W" }}"{% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

    const efficienceS = [
      {% for prodS in prod_semaine %}
        parseFloat("{{ prodS.eff|floatformat:2 }}".replace(",", ".")){% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

      const moyenneS = [
      {% for prodS in prod_semaine %}
        parseFloat("{{ prodS.moyen|floatformat:2 }}".replace(",", ".")){% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

    if (document.querySelector(".chart-semaineP")) {
      var chartsLine = document.querySelectorAll(".chart-semaineP");

      chartsLine.forEach(function(chart) {
        var ctx = chart.getContext("2d");

        var gradientStroke1 = ctx.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
        gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
        gradientStroke1.addColorStop(0, "rgba(203,12,159,0)"); //purple colors

        var gradientStroke2 = ctx.createLinearGradient(0, 230, 0, 50);

        gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
        gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
        gradientStroke2.addColorStop(0, "rgba(20,23,39,0)"); //purple colors

        if (!chart.getAttribute('data-chart-initialized')) {
          new Chart(ctx, {
            type: "line",
            data: {
              labels: labelsS,
              datasets: [{
                  label: "Efficience",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#cb0c9f",
                  borderWidth: 3,
                  backgroundColor: gradientStroke1,
                  fill: true,
                  data: efficienceS,
                  maxBarThickness: 6,
                },
                {
                  label: "Moyenne",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#3A416F",
                  borderWidth: 3,
                  backgroundColor: gradientStroke2,
                  fill: true,
                  data: moyenneS,
                  maxBarThickness: 6,
                },
              ],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  display: false,
                },
              },
              interaction: {
                intersect: false,
                mode: "index",
              },
              scales: {
                y: {
                  grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                  },
                  ticks: {
                    callback:function(value){
                      return value + " %";
                    },
                    display: true,
                    padding: 10,
                    color: "#000000",
                    font: {
                      size: 15,
                      family: "Open Sans",
                      style: "normal",
                      lineHeight: 2,
                      weight: "bold",
                    },
                  },
                },
                x: {
                  grid: {
                    drawBorder: false,
                    display: false,
                    drawOnChartArea: false,
                    drawTicks: false,
                    borderDash: [5, 5],
                  },
                  ticks: {
                    display: true,
                    color: "#000000",
                    padding: 20,
                    font: {
                      size: 15,
                      family: "Open Sans",
                      style: "normal",
                      lineHeight: 2,
                      weight: "bold",
                    },
                  },
                },
              },
              plugins: {
                tooltip: {
                  callbacks: {
                    label: function(tooltipItem){
                      return " " + tooltipItem.raw.toFixed(1) + " %";
                    }
                  }
                }
              }
            },
          });
          chart.setAttribute("data-chart-initialized", "true");
        }
      });
    };



    //-----------------------------PAR MOIS----------------------------------
    const labelsM = [
      {% for prodM in prod_mois %}
        "{{ prodM.periode|date:"E" }}"{% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

    const efficienceM = [
      {% for prodM in prod_mois %}
        parseFloat("{{ prodM.eff|floatformat:2 }}".replace(",", ".")){% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

      const moyenneM = [
      {% for prodM in prod_mois %}
        parseFloat("{{ prodM.moyen|floatformat:2 }}".replace(",", ".")){% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

    if (document.querySelector(".chart-moisP")) {
      var chartsLine = document.querySelectorAll(".chart-moisP");

      chartsLine.forEach(function(chart) {
        var ctx = chart.getContext("2d");

        var gradientStroke1 = ctx.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
        gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
        gradientStroke1.addColorStop(0, "rgba(203,12,159,0)"); //purple colors

        var gradientStroke2 = ctx.createLinearGradient(0, 230, 0, 50);

        gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
        gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
        gradientStroke2.addColorStop(0, "rgba(20,23,39,0)"); //purple colors

        if (!chart.getAttribute('data-chart-initialized')) {
          new Chart(ctx, {
            type: "line",
            data: {
              labels: labelsM,
              datasets: [{
                  label: "Efficience",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#cb0c9f",
                  borderWidth: 3,
                  backgroundColor: gradientStroke1,
                  fill: true,
                  data: efficienceM,
                  maxBarThickness: 6,
                },
                {
                  label: "Moyenne",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#3A416F",
                  borderWidth: 3,
                  backgroundColor: gradientStroke2,
                  fill: true,
                  data: moyenneM,
                  maxBarThickness: 6,
                },
              ],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  display: false,
                },
              },
              interaction: {
                intersect: false,
                mode: "index",
              },
              scales: {
                y: {
                  grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                  },
                  ticks: {
                    callback:function(value){
                      return value + " %";
                    },
                    display: true,
                    padding: 10,
                    color: "#000000",
                    font: {
                      size: 15,
                      family: "Open Sans",
                      style: "normal",
                      lineHeight: 2,
                      weight:"bold",
                    },
                  },
                },
                x: {
                  grid: {
                    drawBorder: false,
                    display: false,
                    drawOnChartArea: false,
                    drawTicks: false,
                    borderDash: [5, 5],
                  },
                  ticks: {
                    display: true,
                    color: "#000000",
                    padding: 20,
                    font: {
                      size: 16,
                      family: "Open Sans",
                      style: "normal",
                      lineHeight: 2,
                      weight:"bold",
                    },
                  },
                },
              },
              plugins: {
                tooltip: {
                  callbacks: {
                    label: function(tooltipItem) {
                      return " " + tooltipItem.raw.toFixed(1) + " %";
                    }
                  }
                }
              }
            },
          });
          chart.setAttribute("data-chart-initialized", "true");
        }
      });
    };



//------------------------- PRODUCTION CHAINE --------------------------

{% for key, prod in prod_chaine.items %}
  {% regroup prod.departement by num_chaine__chef_depart as prod_depart_list  %}
  {% for list in prod_depart_list %}
    const labels{{forloop.parentloop.counter}}_{{forloop.counter}} = [
      {% for prodD in prod.periode %}
        "{{ prodD.formate }}"{% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];

    const efficience{{forloop.parentloop.counter}}_{{forloop.counter}} = [
      {% for prodD in prod.periode %}
        {% with eff=prod.eff_dict|get_item:list.grouper|get_item:prodD.brut%}
          {% if eff %}
            parseFloat("{{ eff|floatformat:2 }}".replace(",", ".")) 
          {% else %}
            null
          {% endif %}
        {% endwith %}
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    ];


  if (document.querySelector(".chart-line-{{forloop.parentloop.counter}}-{{forloop.counter}}")) {
      var chartsLine = document.querySelectorAll(".chart-line-{{forloop.parentloop.counter}}-{{forloop.counter}}");

      chartsLine.forEach(function(chart) {
          var ctx = chart.getContext("2d");

          var gradientStroke1 = ctx.createLinearGradient(0, 230, 0, 50);

          gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
          gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
          gradientStroke1.addColorStop(0, "rgba(203,12,159,0)"); //purple colors

          if (!chart.getAttribute('data-chart-initialized')) {
              new Chart(ctx, {
                  type: "line",
                  data: {
                      labels: labels{{forloop.parentloop.counter}}_{{forloop.counter}},
                      datasets: [{
                              label: "Efficience",
                              tension: 0.4,
                              borderWidth: 0,
                              pointRadius: 0,
                              borderColor: "#cb0c9f",
                              borderWidth: 3,
                              backgroundColor: gradientStroke1,
                              fill: true,
                              data: efficience{{forloop.parentloop.counter}}_{{forloop.counter}},
                              maxBarThickness: 6,
                          },
                      ],
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      plugins: {
                          legend: {
                              display: false,
                          },
                      },
                      interaction: {
                          intersect: false,
                          mode: "index",
                      },
                      scales: {
                          y: {
                              grid: {
                                  drawBorder: false,
                                  display: true,
                                  drawOnChartArea: true,
                                  drawTicks: false,
                                  borderDash: [5, 5],
                              },
                              ticks: {
                                callback:function(value){
                                  return value + " %";
                                },
                                display: true,
                                padding: 10,
                                color: "#000000",
                                font: {
                                    size: 15,
                                    family: "Open Sans",
                                    style: "normal",
                                    lineHeight: 2,
                                    weight: "bold",
                                },
                              },
                          },
                          x: {
                              grid: {
                                  drawBorder: false,
                                  display: false,
                                  drawOnChartArea: false,
                                  drawTicks: false,
                                  borderDash: [5, 5],
                              },
                              ticks: {
                                  display: true,
                                  color: "#000000",
                                  padding: 20,
                                  font: {
                                      size: 15,
                                      family: "Open Sans",
                                      style: "normal",
                                      lineHeight: 2,
                                      weight: "bold",
                                  },
                              },
                          },
                      },
                      plugins: {
                        tooltip: {
                          callbacks: {
                            label: function(tooltipItem) {
                              return " " + tooltipItem.raw.toFixed(1) + " %";
                            }
                          }
                        }
                      }
                  },
              });
              chart.setAttribute("data-chart-initialized", "true");
          }
      });
  };
  {% endfor %}
{% endfor %}
  </script>
{% endblock javascript %}