<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Dashboard_Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\pyenv\envTDB\Scripts\python.exe|C:\pyenv\envTDB\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
		
	<appSettings>
	<!-- Required settings -->
	<!-- Django apps only -->
	<add key="PYTHONPATH" value="C:\inetpub\wwwroot\tableau_de_bord_prod" />
	<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
	<add key="DJANGO_SETTINGS_MODULE" value="tableau_de_bord.settings" />
		
	<!-- Optional settings -->
	
	</appSettings>
</configuration>
