{% extends "index.html" %}
{% load static %}
{% block css %}
{% endblock css%}

{% block content %}
<h2 class="mt-5 mb-5 text-center">PRODUCTION</h2>
<div class="row mt-5 d-flex justify-content-center align-items-center g-4">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="card border-info mb-3 w-100">
            <div class="card-header d-flex justify-content-center">
              <div class="fs-4">
                {{info3.date}}
              </div>
            </div>
            <div class="card-body">
              <div class="mt-2">
                <h5 class="card-title fs-4">
                  <span> EFFICIENCE :</span> 
                  <span class="fs-2 fw-bold">{{info3.efficience}} %</span> 
                </h5>
              </div>
              <div class="mt-2">
                <h5 class="card-title fs-4">
                  <span> EFFICIENCE MOYENNE :</span> 
                  <span class="fs-2 fw-bold">{{info3.effimoyen}} %</span> 
                </h5>
                
              </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card border-info mb-3 w-100">
          <div class="card-header d-flex justify-content-center">
            <div class="fs-4">
              {{info2.date}}
            </div>
          </div>
          <div class="card-body">
            <div class="mt-2">
              <h5 class="card-title fs-4">
                <span> EFFICIENCE :</span> 
                <span class="fs-2 fw-bold">{{info2.efficience}} %</span> 
              </h5>
            </div>
            <div class="mt-2">
              <h5 class="card-title fs-4">
                <span> EFFICIENCE MOYENNE :</span> 
                <span class="fs-2 fw-bold">{{info2.effimoyen}} %</span> 
              </h5>
              
            </div>
          </div>
      </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3">
    <div class="card border-info mb-3 w-100">
        <div class="card-header d-flex justify-content-center">
          <div class="fs-4">
            {{info1.date}}
          </div>
        </div>
        <div class="card-body">
          <div class="mt-2">
            <h5 class="card-title fs-4">
              <span> EFFICIENCE :</span> 
              <span class="fs-2 fw-bold">{{info1.efficience}} %</span> 
            </h5>
          </div>
          <div class="mt-2">
            <h5 class="card-title fs-4">
              <span> EFFICIENCE MOYENNE :</span> 
              <span class="fs-2 fw-bold">{{info1.effimoyen}} %</span> 
            </h5>
            
          </div>
        </div>
    </div>
</div>
 </div>
{% endblock content %}